Pictures.WebPart/Web References/PictureService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/pictures/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pictures.WcfService.Models" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pictures.WcfService.Models" minOccurs="0" name="picture" nillable="true" type="q1:Picture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pictures.WcfService.Models" minOccurs="0" name="AddResult" nillable="true" type="q2:Picture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pictures.WcfService.Models" minOccurs="0" name="GetAllResult" nillable="true" type="q3:ArrayOfPicture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pictureId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pictures.WcfService.Models" minOccurs="0" name="GetByIdResult" nillable="true" type="q4:Picture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>