Pictures.FilesLoader/Web References/PictureService/Service0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pictures.WcfService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pictures.WcfService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
  <xs:complexType name="ArrayOfPicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Picture" nillable="true" type="tns:Picture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPicture" nillable="true" type="tns:ArrayOfPicture" />
</xs:schema>